@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100 text-gray-900;
}

header {
  @apply bg-white shadow-md sticky top-0 z-50;
}

nav a {
  @apply text-gray-800 hover:text-blue-500;
}

.hero {
  @apply bg-cover bg-center h-screen;
}

.hero .overlay {
  @apply bg-black bg-opacity-50 h-full flex flex-col justify-center items-center text-center text-white;
}

.hero h1 {
  @apply text-5xl font-bold mb-4;
}

.hero p {
  @apply text-xl mb-6;
}

.hero a {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

/* src/index.css or src/App.css */
#about {
  @apply py-16 bg-gray-100;
}

#about h2 {
  @apply text-4xl font-bold text-gray-800 mb-8;
}

#about p {
  @apply text-lg text-gray-700 leading-relaxed mb-6;
}

#about p:last-child {
  @apply mb-0;
}

/* Add this CSS to your main stylesheet or component-specific stylesheet */
.customer-image {
  width: 100%; /* Ensure each image takes up full width of its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent images from exceeding their natural size */
  display: block; /* Remove any default inline spacing */
  margin-bottom: 16px; /* Add some bottom margin for spacing between images */
  border: 2px solid #ddd; /* Add a 2px solid border with light gray color */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  overflow: hidden; /* Optional: Hide any overflow content within the border */
}



/* App.css */
@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }

  .hero .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .hero p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .hero a {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }
}
